<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <div id="main-container">
      <div id="inner-container">
        <%= link_to '', root_url, :id => 'logo' %> 

        <div class="clear"></div>

        <% unless hide_flash? -%>
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
        <% end -%>

        <%= yield %>
      </div>
    </div>

    <div id="footer">
    </div>

  </body>
</html>
