<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body>

    <div id="home-container">
      <div id="inner-container">
        <%= link_to '', root_url, :id => 'logo' %>
        <div class="clear"></div>
        <%= yield %>
      </div>
    </div>

    <div id="footer"></div>

  </body>

</html>
